@* @{
  Layout = "_Layout";
}
@using SweetAndSavoryTreats.Models
@model SweetAndSavoryTreats.Models.Treat

<h4>Add a New Treat</h4>

@using (Html.BeginForm())
{
    @Html.Label("Treat Name:")
    @Html.TextBoxFor(model => model.TreatName)
    <input type="submit" value="Add new Treat" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all Treats", "Index")</p> *@