<div id="header">
  @Html.ActionLink("Home", "Index", "Home") |
  @Html.ActionLink("All Flavors", "Index", "Flavors") | 
  @Html.ActionLink("All Treats", "Index", "Treats") |
  @Html.ActionLink("All Ingredients", "Index", "Ingredients") |
</div>